:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #0097e6;
  /* lighter shades of primary color */
  --clr-primary-6: #25BB84;
  --clr-primary-7: #8ac7e8;
 
 
  /* darkest grey - used for headings */
 
  --clr-white: #fff;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

/* =========================================
                Global style
============================================ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  font-family: "Lato", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  
}

body, html {
  height: 100%;
}



html {
  scrollbar-width: none; /*For Firefox*/
  -ms-overflow-style: none; /*For IE and Edge*/
}

.section-project {
  background-color: #e5e6e4;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}

p {
  margin-bottom: 2rem;
  color: var(--clr-grey-5);
  font-weight: 100;
  font-size: 20px;
}

/* p {
  font-weight: 100;
  font-size: 1.5rem;
} */

a {
  text-decoration: none;
  color: #000000;
}

ul li {
  list-style: none;
  list-style-image: none; /* microsoft edge */
}

li span i {
  padding-left: 1rem;
}

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  
}


.section-center {
  min-height: 70vh;
  padding-bottom: 3rem;
}


.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;

}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.logoImg {
  width: 1rem;
  height: 1rem;
}


/* =========================================
                Navigation icon
============================================ */

#nav-icon {
  position: absolute;
  left: 80%;
  top: 5%;
  cursor: pointer;
  padding: 13px 20px 16px 0px;
}

#nav-icon span,
#nav-icon span:before,
#nav-icon span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #0097e6;
  position: absolute;
  display: block;
  content: "";
}
#nav-icon span:before {
  top: -10px;
}
#nav-icon span:after {
  bottom: -10px;
}

#nav-icon span,
#nav-icon span:before,
#nav-icon span:after {
  transition: all 300ms ease-in-out;
}
#nav-icon.active span {
  background-color: transparent;
}
#nav-icon.active span:before,
#nav-icon.active span:after {
  top: 0;
}
#nav-icon.active span:before {
  transform: rotate(45deg);
}
#nav-icon.active span:after {
  transform: rotate(-45deg);
}

/* =========================================
                Navigation menu
============================================ */
.navbar {
  font-size: 18px;
  position: fixed;
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  transition: 2s;
  z-index: 9999;
}

.navbar .main-nav li a:hover {
  transition: 0.5s;
  color: red;
}

.sticky {
  padding-bottom: 10px;
  position: fixed;
  display: inline;
  background-color: #fff;
  box-shadow: 0 8px 6px -6px #000;
  top: 0;
  left: 0;
  width: 100%;
  transition: 2s ease;
  z-index: 9999;
}

.noSticky {
  transition: 2s;
}

.smNav {
  background-color: #fff;
  margin-top: -6.5rem;
  padding-top: 9rem;
}

.nav-links {
  text-decoration: none;
  color: #000000;
}

.main-nav {
  list-style-type: none;
}

.main-nav ul {
  width: 100%;
}

.main-nav li {
  text-align: center;
  margin: 0.4rem auto;
  padding: 1rem 1rem;
  width: 100%;
}

.main-nav li a {
  text-align: center;
  margin: 1rem auto;
  width: 100%;
}

.main-nav {
  color: red;
  transition: 0.5s;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: -10px;
  margin-left: -1rem;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

/* =========================================
                Home Page
============================================ */

.logoImg {
  width: 8rem;
  height: auto;
}
/* =========================================
                Heading title
============================================ */

.hero-img {
  display: none;
}

.hero {
background: linear-gradient(#4195a8, #fff);
}

.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}

.hero-info h4 {
  color: var(--clr-grey-5);
}

.hero-icons {
  justify-items: start;
}

.hero-btn {
  margin-top: 2.25rem;
}

@media screen and (min-width: 992px) {
  .hero-img {
    display: block;
    position: relative;
  }
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }
}

/* =========================================
                Hero button
============================================ */
.modal-btn,
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  /* color: var(--clr-primary-1); */
  color: #fff;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 1.2rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.modal-btn:hover,
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}


/* =========================================
              Hero Image
============================================ */


.hero-photo {
  max-width: 25rem;
  max-height: 30rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}

/* =========================================
                Social icons
============================================ */

.social-icons {
  display: grid;
  margin-top: 3rem;
  width: 7rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.social-icon {
  font-size: 2rem;
  color: var(--clr-grey-1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--clr-primary-5);
}


/* =========================================
                About Page
============================================ */

.about-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  min-height: 70vh;
  background: #fff;
}

.about__text {
  flex: 1 1 20rem;
  margin: 1em;
  font-size: 2rem;
  padding: 1rem;
  max-width: 80%;
}

.about__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__text,
.about-image {
  max-width: 80%;
  height: auto;
}

  /* =========================================
                Page title
============================================ */

.heading {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: #333;
  position: relative;
}

.heading::after {
  content: "";
  width: 10rem;
  height: 0.8rem;
  background-color: #0097e6;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

.container {
  padding: 7rem;
}

#about {
  min-height: 90vh;
}

/*
=============== 
Projects
===============
*/

.projects {
  min-height: 90vh;
background: linear-gradient(#EEF0F2,#fff );
}

.projects-text {
  width: 85vw;
  /* max-width: 50rem; */
  margin: 0 auto;
  padding: 2rem;
}

.projects-text {
  font-size: 1.5rem;
}

.project {
  position: relative;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  margin-bottom: 2rem;
}

.project-info {
  text-align: center;
  color: var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  opacity: 0;
}

.project-info p {
  text-transform: capitalize;
  color: var(--clr-white);
}

.project:hover .project-info {
  opacity: 1;
}

.project-img {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border-radius: var(--radius);
  height: 15rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.project:hover .project-img {
  opacity: 0.1;
}

.project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--clr-white);
  border-radius: var(--radius);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  opacity: 0;
}

.project:hover::after {
  opacity: 1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

@media screen and (min-width: 676px) {
  .projects-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .projects-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1170px) {
  .projects-center {
    grid-template-rows: 200px 200px;
    gap: 1rem;
    grid-template-areas:
      "a b b"
      "a c d";
  }
  .project-img {
    height: 100%;
  }
  .project {
    height: 100%;
  }
  .project-1 {
    grid-area: a;
  }
  .project-2 {
    grid-area: b;
  }
  .project-3 {
    grid-area: c;
  }
  .project-4 {
    grid-area: d;
  }
}


/*
========================================
Projects page
========================================
*/

.link-btn-projects {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* =========================================
                Skill page
============================================ */
#skills {
  background: linear-gradient(#EEF0F2,#fff );

}


.heading__sub {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}

.fab {
  font-size: 3rem;
  padding: 1rem;
}

.skill-container {
  min-height: 50vh;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  /* padding-top: 3rem; */
  margin: 0 1rem;
}

.skill-icon {
  flex: 1 1 2rem;
  margin: 1em;
}

.content {
  width: 7rem;
  padding-top: 15px;
}




/*
================== 
blog
==================
*/

#blog {
background: linear-gradient(#EEF0F2, #DADDD8);
}


/* =========================================
                Cards projects
============================================ */
.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 28rem;
  background-color: #fbfbf2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  transition: all 0.5s ease-in-out;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
  transition: all 1s;
}

.card .card-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 1.5rem 0;
}

.job-title {
  color: #777;
  font-size: 1rem;
  font-weight: 300;
}

.description {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  padding: 1rem;
  font-style: italic;
  text-align: center;
  color: #333;
}

ul .btn {
  color: #fff;

}

ul {
  padding: 0.5rem;
}






/* =========================================
                Contact
============================================ */

.section-contact {
  background-color: #e5e6e4;
  background-size: cover;
  padding: 40px 0;
  color: #000;
  overflow: hidden;
  font-size: 1.5rem;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
  overflow: hidden;
}

fieldset {
  border: none;
}

input,
textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 2rem 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 1px 1px #34455e;
}
textarea {
  resize: none;
  height: 120px;
}

/*
================== 
Footer
==================
*/

.footer {
  padding: 7rem;
  background-color: black;
  display: grid;
  place-items: center;
}

.footer .social-icons {
  margin-bottom: 2.5rem;
}

.footer .social-icon {
  color: #0097e6;
}

.footer .social-icons:hover {
  color: #0068a0;
}

.footer p {
  font-size: 1.5rem;
  text-transform: capitalize;
  color:#0097e6;
}


/* =========================================
              Media Queries
============================================ */

@media screen and (min-width: 768px) {
  /* Navigation */

  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 2rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
    width: 100%;
  }

  .smNav {
    background-color: transparent;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
  }

  #nav-icon {
    display: none;
  }
  /* Logo */
  .logoImg {
    position: absolute;
    padding: 1rem;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }

  .about-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }


  .card {
    width: 32rem;
  }

  .card {
    margin: 2rem;
    transition: transform 0.5s;
  }
}